<p>
Michalea D. King
<hr>
</p>
<p>
Polar Science Center, Applied Physics Laboratory | University of Washington
</p>
<p>
PSC APL Box 355640 1013 NE 40<sup>th</sup> St, Seattle WA 98105-6698
</p>
<p>
Email: <a href="mailto:michalea@uw.edu">michalea@uw.edu</a>
</p>
<p>

Education
<hr>
</p>
<p>
2020..................<em>The Ohio State University, <strong>Ph.D. Earth Science</strong> </em>
</p>
<p>
<em>		</em>Distinguished University Fellow
</p>
<p>
		Dissertation:<em> Seasonal to Multidecadal Drivers of Variability at Greenland Outlet Glaciers</em>
</p>
<p>
		Advisor: Dr. Ian Howat
</p>
<p>
2016…………...<em>University of Delaware, <strong>M.S. Geography</strong></em>
</p>
<p>

        Thesis: <em>Investigating the sensitivity of Arctic sea ice to cloud radiative conditions in the spring and early summer.</em>
</p>
<p>
		Advisor: Dr. Dana Veron
</p>
<p>
	
</p>
<p>

    <em>University of Delaware, <strong>Graduate Certification in Geographic Information Science</strong></em>
</p>
<p>
2014…………...<em>The Ohio State University, <strong>B.S. Geography</strong></em>
</p>
<p>

<strong>			</strong>Climate Science specialization
</p>
<p>
		Honors Curriculum Distinction
</p>
<p>
Appointments
</p>
<hr>
<p>
2022……………<strong>Senior Research Scientist</strong>
</p>
<p>
		Polar Science Center, Applied Physics Laboratory, University of Washington
</p>
<p>
2020 - 2022……<strong>Postdoctoral Scholar, APL SEED Fellowship Recipient </strong>
</p>
<p>
		Polar Science Center, Applied Physics Laboratory, University of Washington
</p>
<p>

        		Supervisor: Dr. Ian Joughin 
</p>
<p>
2016﹣2020…...<strong>Graduate Teaching and Research Associate, Graduate Fellow</strong>
</p>
<p>
		School of Earth Sciences, The Ohio State University
</p>
<p>
Honors and Grants Awarded
</p>
<hr>
<p>
2021			United States Antarctic Service Medal
</p>
<p>

        <strong>2020	AGU Outstanding Student Presentation Award, Fall Meeting 2019</strong>
</p>
<p>

        2019	Michael Johnson Graduate Student Award, School of Earth Sciences
</p>
<p>

        <strong>2019	AGU Outstanding Student Paper Award, Fall Meeting 2018</strong>
</p>
<p>

        2019	Ohio State Graduate School Career Development Grant Award
</p>
<p>

        2018	Hayes Graduate Grant recipient for oral presentation at Research Forum, Physical Science and Mathematics division
</p>
<p>
<strong>2018		AGU Outstanding Student Paper Award, Fall Meeting 2017</strong>
</p>
<p>
2017﹣2019	Friends of Orton Hall Research Grant Award
</p>
<p>
2016		Distinguished University Fellowship, The Ohio State University
</p>
<p>
2015		University of Delaware Graduate Professional Development Travel Grant
</p>
<p>
2015 		Mather Graduate Fellows in Geography Research Award
</p>
<p>
2014		Edward. J. Taaffe Award for Outstanding Student in Atmos. Science and Geography  	                                                    
</p>
<p>
2013		Fenburr Scholarship Award in Geography
</p>
<p>
2010﹣2014	Morrill Academic Excellence Full Tuition Scholarship
</p>
<p>
Publications<span style="text-decoration:underline;">    </span>
</p>
<hr>
<p>

        2022	IMBIE Team including <strong>King, M. D</strong>.: Mass Balance of the Greenland and Antarctic Ice Sheets from 1992 to 2020. <em>Earth Syst. Sci. Data Discuss</em>. [preprint], <a href="https://doi.org/10.5194/essd-2022-261">https://doi.org/10.5194/essd-2022-261</a>
</p>
<p>

        2022	Kochtitzky, W., Copland, L., <strong>King, M. D., </strong>Hugonnet, R., Jiskoot, H., Morlighem, M., Millan, R., Khan, S. A., Noël, B.: Closing Greenland’s mass balance: frontal ablation for every Greenlandic glacier from 2000 to 2020. Under review for <em>Nature Communications Earth & Environment</em>.
</p>
<p>

        2022	Chudley, T., Howat, I., <strong>King, M. D., </strong>Negrete, A.: Atlantic Water intrusion triggers rapid retreat and regime change at previously stable Greenland glacier. Under review for <em>Nature Communications</em>.
</p>
<p>

        2022	Khan, S. A., Bamber, J., Rignot, E., Helm, V., Aschwanden, A., Holland, D., van den Broeke, M., <strong>King, M. D.</strong>, Noël, B., Truffer, M., Humbert, A., Vijay, S., Munneke, P. K.: Greenland mass trends from airborne and satellite altimetry during 2011-2020. <em>JGR Earth Surface</em>, 127, e2021JF006505. <a href="https://doi.org/10.1029/2021JF006505">https://doi.org/10.1029/2021JF006505</a>
</p>
<p>

    2022	<strong>King, M. D.</strong> and Howat, I. M.: Distributed summer runoff events maintain faster flow at 		Greenland outlet glaciers. In Revision for <em>Geophysical Research Letters</em>
</p>
<p>

        2021	​​<strong>King, M. D</strong>. Post-publication careers: lockdown to limelight. <em>Commun Earth Environ</em> 2, 180 (2021). <a href="https://doi.org/10.1038/s43247-021-00236-1">https://doi.org/10.1038/s43247-021-00236-1</a>
</p>
<p>

    2021	Mankoff, K. and 15 others including <strong>King, M. D.</strong>: Greenland ice sheet mass balance from 	1840 through next week. <em>Earth Syst. Sci. Data</em>, 13, 5001–5025,				<a href="https://doi.org/10.5194/essd-13-5001-5025">https://doi.org/10.5194/essd-13-5001-2021</a> 
</p>
<p>

    2021	Vijay, S., <strong>King, M. D.</strong>, Howat, I. M., Solgaard, A., Khan, S. A., Noël B.: Greenland 		ice-sheet wide classification of glaciers based on two distinct seasonal ice velocity 		behaviors. J<em>ournal of Glaciology</em>,1-8. <a href="https://www.cambridge.org/core/journals/journal-of-glaciology/article/greenland-icesheet-wide-glacier-classification-based-on-two-distinct-seasonal-ice-velocity-behaviors/CFAE23B3E1940A7594439C44BC88BC19">doi:10.1017/jog.2021.89</a>
</p>
<p>

        2020	<strong>King, M. D</strong>., Howat, I. M., Candela, S. G., Jeong, S., Noh, M. J., Noël, B., van den Broeke, M. R., Wouters, B., and Negrete, A.: Dynamic ice loss from the Greenland Ice Sheet driven by sustained glacier retreat. <em>Nature Communications Earth & Environment, <strong>1</strong></em>,1 (2020). <a href="https://doi.org/10.1038/s43247-020-0001-2">https://doi.org/10.1038/s43247-020-0001-2</a>
</p>
<p>

        2020	Sasgen, I., Wouters, B., Gardner, A., <strong>King, M. D</strong>., Tedesco, M., Dahle, C., Landerer, F., Save, H., and Fettweis, Xavier.: Return to rapid ice loss in Greenland and record loss in 2019 detected by the GRACE-FO satellites, <em>Nature Communications Earth & Environment,</em> <strong>1</strong>, 8 (2020).<em> </em><a href="https://doi.org/10.1038/s43247-020-0010-1">https://doi.org/10.1038/s43247-020-0010-1</a>
</p>
<p>

        2020	<strong>King, M. D.</strong>, Veron, D. E., and Huntley, H. S.: Early predictors of seasonal Arctic sea ice volume loss: The impact of spring and early-summer cloud radiative conditions. <em>Annals of Glaciology. </em>1–9. <a href="https://doi.org/10.1017/aog.2020.60">https://doi.org/10.1017/aog.2020.60</a>, 2020.
</p>
<p>

        2020	Fettweis, X., and 40 others including <strong>King, M. D.</strong>: GrSMBMIP: Intercomparison of the modelled 1980-2012 surface mass balance over the Greenland Ice sheet, <em>The Cryosphere,</em> <a href="https://doi.org/10.5194/tc-14-3935-2020">https://doi.org/10.5194/tc-14-3935-2020</a>
</p>
<p>

        2019	Riihelä, A., <strong>King, M. D</strong>., Antilla, K.:  The surface albedo of the Greenland Ice Sheet between 1982 and 2015 from the CLARA-A2 dataset, and its relationship to the ice sheet’s surface mass balance<em>,The Cryosphere</em>, 13, 2597–2614, <a href="https://doi.org/10.5194/tc-13-2597-2019">https://doi.org/10.5194/tc-13-2597-2019</a>, 2019.
</p>
<p>

        2018	<strong>King, M. D</strong>., Howat, I. M., Jeong, S., Noh, M. J., Wouters, B., Noël, B., and van den Broeke, M. R.: Seasonal to decadal variability in ice discharge from the Greenland Ice Sheet,<em>The Cryosphere</em>, 12, 3813-3825, <a href="https://doi.org/10.5194/tc-12-3813-2018">https://doi.org/10.5194/tc-12-3813-2018</a>, 2018.
</p>
<p>

        2018	Bamber, J.L., Tedstone, A.J., <strong>King, M. D.</strong>, Howat, I.,Van den Broeke, M., Land ice freshwater budget of the Arctic and North Atlantic Oceans. Part I: Data, methods and results. <em>Journal of Geophysical Research Oceans</em>. 123, 1827–1837. <a href="https://doi.org/10.1002/2017JC013605">https://doi.org/10.1002/2017JC013605</a><em>, </em>2018.
</p>
<p>
In Preparation
<hr>
</p>
<p>

        2022	​​Accelerating the renewable energy revolution to get back to the Holocene, Abbott, B., and 9 others including <strong>King, M. D.</strong>
</p>
<p>

        2021	Roberts, C. E., Csatho, B. M., Schenk, A., Schild, K., Bevan, S., Shekhar, P., Snow, T., <strong>King, M. D.,</strong> Noël, B., van der Veen, C. J., and Luckman, A.: Detailed elevation record (1981-2017) captures rapid destabilization of Helheim Glacier, southeast Greenland, and subsequent re-grounding cycles. 
</p>
<p>
Other Publications
</p>
<hr>
<p>

        2021	Authored invited essay “Climate and the Cryosphere” as one of six science features in the Royal Meteorological Society’s book “<a href="https://shop.rmets.org/products/weather-a-force-of-nature-spectacular-images-from-weather-photographer-of-the-year">Weather: A Force of Nature</a>”. November 2021
</p>
<h3>Presentations
<hr></h3>


<p>

        <strong>Talks, Including Invited (7)</strong>
</p>
<p>

        <strong>2022 	King, M. D. (*<em>Invited</em>)</strong>: Greenland ice in motion: Recent insights from monitoring short-term variability in glacier flow and ice sheet-wide implications, Bristol Glaciology Group Spring Seminar Series
</p>
<p>

        <strong>2022	King, M. D.<em> (*Invited)</em>: </strong>Mélange in motion: Investigating the impact of mélange on glacier calving in Greenland using large-scale velocity mapping, NASA GISS Sea Level Rise Seminar. Fen 1st 2022.	
</p>
<p>

        <strong>2021	King, M. D.</strong>, Joughin, I., Black, T., Howat, I.: A recent assessment of variability in rigid mélange coverage and the associated impacts at highly dynamic calving fronts in Greenland. Abstract C34A-03. AGU Fall Meeting, 13-17 December 2021.
</p>
<p>

        <strong>2020	King M. D. <em>(*Invited)</em></strong>, Howat I. M., Vijay, S.: Modes and drivers of nonuniform outlet glacier response to seasonal meltwater forcing in Greenland. Abstract C040-06. AGU Fall Meeting, Virtual, 1-17 December 2020.
</p>
<p>

        <strong>2020	King M. D.</strong>, Howat I. M., Vijay, S.: Modes and drivers of nonuniform outlet glacier response to seasonal meltwater forcing in Greenland. Abstract C040-06. AGU Fall Meeting, Virtual, 1-17 December 2020.
</p>
<p>

        <strong>2020	King M. D. <em>(*Invited)</em></strong>: <a href="https://youtu.be/7d_nHkp3b7Y">Nonuniform response of Greenland Outlet glaciers to seasonal meltwater forcing</a>. IGS Global Seminar, Virtual, 30 September 2020.
</p>
<p>

        <strong>2020	King M. D.</strong>, Howat I. M., Candela, S. G., Jeong, S., Noh, M. J., Noël, B., van den Broeke, M. R., Wouters, B., and Negrete, A.: Dynamic ice loss from the Greenland Ice Sheet driven by sustained glacier retreat. PARCA 2020, NASA Goddard, 20 February 2020.
</p>
<p>

        <strong>2019	King M. D. <em>(*Invited)</em></strong>, Howat I. M., Dynamic ice losses from the Greenland Ice Sheet driven by sustained glacier retreat in extended 1984-2018 record. Abstract U11C-13. AGU Fall Meeting, San Francisco, CA., 9-13 December 2019.
</p>
<p>

        2019	<strong>King M. D.</strong>, Howat I. M., Vijay S., Large scale impacts of surface melt on ice sheet dynamics: Empirical evidence of outlet glacier sensitivity to late-season melt events in Greenland. Abstract C12A-02. AGU Fall Meeting, San Francisco, CA., 9-13 December 2019.	
</p>
<p>

        2019	<strong>King M. D.</strong>, Howat I. M., Quantifying the strength and limitations of seasonal meltwater runoff in driving faster ice flow at Greenland tidewater glaciers. NASA Program for Arctic Regional Climate Assessment (PARCA), Washington, DC., 31 Jan 2019.
</p>
<p>

        <strong>2018</strong>	<strong>King M. D.<em> (*Invited)</em></strong>, Howat I., Trends and Triggers of Glacier Change: Using Satellite Observations to Understand Monthly to Decadal Variability in Greenland’s Glaciers. Abstract U13B-01. AGU Fall Meeting, Washington, D.C., 10-14 December 2018. 
</p>
<p>

        2018	<strong>King M. D.</strong>, Howat I., Jeong S., Noh M.J., Wouters, B., Noël, B., van den Broeke, M.,  Greenland-wide Glacier Response to Runoff and Retreat: Evaluating Outlet Glacier Changes on Monthly to Multi-year Scales. Abstract C14A-03. AGU Fall Meeting, Washington, D.C., 10-14 December 2018. 
</p>
<p>

        <strong>2018</strong>	<strong>King M. D. <em>(*Invited)</em></strong>, Howat I., Jeong S., Noh M.J., Wouters, B., Noel, B., van den Broeke, M., Monitoring an Ice Sheet’s Pulse: A Monthly Time Series of Dynamic Ice Loss from Greenland Using Satellite Optical and Radar Imagery. Abstract EGU2018-5393. EGU<strong><em> </em></strong>General Assembly, Vienna, Austria, 8-13 April 2018.
</p>
<p>

        2017	<strong>King M. D.</strong>, Howat I., Jeong S., Joughin I. R., Smith B. E., Scambos T. A., Sub-seasonal velocity and discharge behavior of Greenland outlet glaciers. Abstract 76A2512. IGS International Symposium on Polar Ice, Polar Climate, and Polar Change, Boulder, CO., 14-19 August 2017. 
</p>
<p>

        <strong>Posters and Contributed</strong>
</p>
<p>

        2019 	Chu, W. (<em>Invited</em>), Schroeder D. M., Livingstone, S., Vijay, S., <strong>King, M. D.</strong>, Culberg, R., Karlsson, N. B., Messerli, A., 25 years of airborne radar sounding: Insights into time varying changes in Greenland glacial hydrology. Abstract C12A-03.AGU Fall Meeting, San Francisco, CA., 9-13 December 2019.
</p>
<p>

        2019 	Vijay, S., Chu, W., <strong>King, M. D.</strong>, Howat, I. M., Khan, S. A., Solgaard, A., Seasonal ice velocity changes of Greenlandic glaciersL insights from new and dense remote sensing observations and hydrological modeling. Abstract C31B-1503. AGU Fall Meeting, San Francisco, CA., 9-13 December 2019.
</p>
<p>

        2019	Carolyn Roberts and others, including <strong>King M. D.</strong>, Active subglacial water storage detected at Helheim Glacier, southeast Greenland, through detailed elevation reconstruction. Abstract C12A-08. AGU Fall Meeting, San Francisco, CA., 9-13 December 2019.
</p>
<p>

        2019	Riihelä, A., <strong>King, M. D.</strong>, Anttila, K., The Surface Albedo of the Greenland Ice Sheet between 1982-2015, and its Connection to Surface Mass Balance and Ice Discharge. Abstract IUGG19-1294. IUGG General Assembly, Montreal, Canada, 8-18 July 2019.
</p>
<p>

        2018	Veron D., <strong>King M. D.</strong>, Huntley H., Examining the role of Arctic clouds in sea ice volume loss using satellite observational and modeled data. Abstract C21D-1366. AGU Fall Meeting, Washington D.C., 10-14 December, 2018. 
</p>
<p>

        2018	de la Peña S., Howat I., Behar A., Candela S.G., <strong>King M. D.</strong>, Desilets D., Womack G., Huseas S., Crowell J.M., Price S., Towards an operational network for continuous measurements of Surface Mass Balance related firn processes over the interior of Greenland and Antarctica. Abstract C43D-1853. AGU Fall Meeting, Washington D.C., 10-14 December, 2018. 
</p>
<p>

        2018	Chartrand A., Howat I., Noh M.J., <strong>King M. D.</strong>, New insights on Antarctic ice shelf basal channels from Reference Elevation Model of Antarctica (REMA) digital elevation models. Abstract C21C-1347. AGU Fall Meeting, Washington D.C., 10-14 December, 2018. 
</p>
<p>

        2018	Bamber, J. L., Tedstone, A., <strong>King M. D.</strong>, Howat I., Wouters, B., Noel, B., van den Broeke, M., Enderlin, E., Land ice contribution to the freshwater budget of the Arctic and North Atlantic Oceans. Abstract EGU2018-4964. EGU General Assembly, Vienna, Austria, 8-13 April 2018.
</p>
<p>

        2017	<strong>King M. D.</strong>, Howat I., Jeong S., Noh J.M., Joughin I. R., Continuous Monthly Observations of Greenland Ice Sheet Discharge via Improved Multi-Decadal Flux Reconstructions of all Major Outlet Glaciers. Abstract C41B-1206. Poster presented at AGU Fall Meeting, New Orleans, LA., 11-15 December 2017.
</p>
<p>

        2017	Jeong S., Howat I., Noh J.M., <strong>King M. D.</strong>, Acceleration of Humboldt glacier, north Greenland. Abstract C41B-1214. AGU Fall Meeting, New Orleans, LA., 11-15 December 2017.
</p>
<p>

        2016	<strong>King M. D.</strong>, Howat I., Jeong S., Joughin I. R., Smith B. E., Scambos T. A., Multi-Decadal and High-Resolution Observations of Greenland Outlet Glacier Dynamics from the Greenland Ice Mapping Project (GIMP). Abstract C13C-0855. Poster presented at 2016 Fall Meeting, AGU, San Francisco, CA., 12-16 December 2016.	
</p>
<p>

        2016	<strong>King M. D.</strong>, Veron D., The Influence of Spring And Early Summer Cloud Radiative Forcing On Inter-Annual Arctic Sea Ice Variability. Poster presented at the 46<sup>th </sup>Arctic Workshop, Boulder, CO., 2-3 April 2016.
</p>
<p>

        2015	<strong>King M. D.</strong>, Veron D., Investigating the Sensitivity of Arctic Sea Ice to Variability in Early Summer Cloud Radiative Effect. Poster presented at 2015 Fall Meeting, AGU, San Francisco, CA., 13-18 December.
</p>
<h3>Teaching 
<hr>Experience in introductory through advanced undergraduate courses (classroom + field settings). Roles and responsibilities included lecture and workshop development, independent and collaborative teaching, laboratory lead and technical demonstration, and multifaceted student assignment evaluations. <em>Mean course evaluation score for overall instructor rating of 4.75/5 (75 percentile score for department instructors, including faculty).</em></h3>


<p>
2021		<strong>Guest Lecturer </strong>
</p>
<p>

    UW Earth and Space Sciences (UG Glaciology), Autumn 2021.
</p>
<p>

    OSU Geog 3900 (Global Climate Change) Spring 2021.
</p>
<p>

    Colorado School of Mines, Glaciology Lab Meeting (PI Matt Siegfried), Spring 2021.
</p>
<p>
2019		<strong>Teaching Faculty</strong>, <a href="http://juneauicefield.org/">Juneau Ice Research Program</a>
</p>
<ul>

<li>Led workshops and lectures on the Juneau Icefield on topics including glacier dynamics, glacier hydrology, and remote sensing. 
</li>
</ul>
<p>
2018		<strong>Graduate</strong> <strong>Teaching Assistant</strong>, Ohio State University
</p> 
<ul>
 
<li>Earth Science 1100: Planet Earth. Laboratory sections.
</li> 
</ul>
<p>
2017		<strong>Graduate</strong> <strong>Teaching Assistant</strong>, Ohio State University
</p> 
<ul>
 
<li>Climate Change: Mechanisms, Impacts, and Mitigation. Lecture + laboratory.
</li> 
</ul>
<p>
2014﹣2016	<strong>Graduate</strong> <strong>Teaching Assistant</strong>, University of Delaware<em>	</em> 	
</p>
<ul>

<li>Physical Geography: Climatic Processes Lab 

<li>Physical Climatology (Upper-Level Undergraduate Course). 

<li>Meteorology 
</li>
</ul>
<h3>Fieldwork </h3>


<hr>
<p>
2020		<em>South Pole, Antarctica</em>
</p>
<p>

        <strong>Field team member</strong> for project EAGER: An Operational System To Measure Surface Mass Balance Deep In The Interior Of The Antarctic Ice Sheet. January 2020
</p>
<p>
2019		<em>Juneau Icefield, Alaska</em>
</p>
<p>

        <strong>Teaching faculty and field assistant </strong>for the <a href="http://juneauicefield.org/">Juneau Ice Research Program</a>. Assisted with ice core water isotope sample collection and shallow firn core drilling. Participant in crevasse rescue training. July-August, 2019.
</p>
<p>
2019<em> 		Jakobshavn Catchment, Greenland</em>					             
</p>
<p>

        <strong>Graduate Field Assistant: </strong>Performed both short and long-range radar surveys, repaired and maintained existing stations, and installed new firn compaction sensors as part of an ongoing NASA-funded project aimed at monitoring ice/snow thickness and structure, accumulation, and firn compaction on the Greenland Ice Sheet. 
</p>
<p>
2018<em> 		Jakobshavn Catchment, Greenland</em>					             
</p>
<p>

        <strong>Graduate Field Assistant: </strong>Installed a network of meteorological sensors used to monitor ice/snow thickness and compaction on the Greenland Ice Sheet and calibrate model output, as part of NASA funded research on ice sheet mass balance. 
</p>
<p>
2015<em> 		Northern Cascades, Washington</em>					             
</p>
<p>

        <strong>Graduate Field Assistant: </strong>Participated in a field learning experience involving topics on climate proxy data, climate variability in alpine regions, and interpreting glacial geomorphology.
</p>
<p>
2013		<em>Great Basin Research Expedition</em>
</p>
<p>

        <strong>Student Research Assistant:</strong> Assisted with the retrieval of data from various temperature and humidity loggers throughout a range of elevations in the Great Basin National Park. Measured streamflow of rivers and dissolved oxygen and temperature of alpine lakes. Performed water sample filtration. 
</p>
<h3>Technical Skills</h3>


<hr>
<p>
MATLAB
</p>
<p>
ArcGIS
</p>
<p>
Python
</p>
<p>
NCAR Common Language (NCL) 
</p>
<p>
Fortran 95       
</p>
<p>
UNIX commands and file management
</p>
<p>
ENVI
</p>
<h3>Professional Workshops and Training </h3>


<hr>
<p>

        2022	​​<strong>Participant, trainee</strong>: UW CoEnv EPIC Training for College Postdocs on combatting workplace harassment and discrimination. January 2022.
</p>
<p>

        2019 	<a href="https://icesat-2hackweek.github.io/">ICESat-2 Hackweek</a>: workshop featuring tutorials and projects focused on learning skills and toolsets to access and process ICESat-2 data for cryospheric research. Served as project team lead. Seattle, Washington, June 2019.
</p>
<p>

        2018 	Karthaus Summer School: Ice Sheets and Glaciers in the Climate System, September 2018.
</p>
<p>

        2017	Polar Science Communication Workshop for early career polar scientists, sponsored by APECS. Boulder, CO, August 2017.
</p>
<p>

        2017 	Polar Literacy Outreach and Education Workshop for scientists and educators, Columbus, OH, June 2016.
</p>
<p>

        2015 	LearnIT: The Unix Basics Series, University of Delaware, DE, Spring 2015.
</p>
<h3>Involvement and Outreach</h3>


<hr>
<p>

        2021	<strong>Science panelist and tour guide</strong>: NSF Polar Programs sponsored Virtual Reality Tour of South Pole Station 
</p>
<p>

        2020	<strong>Polar Science Collaborator:</strong> Polar Literacy Project (<em>NSF Grant# 1906897)</em> in coordination with Rutgers Marine Sciences Education
</p>
<p>

        2019	<strong>Volunteer</strong>: Byrd Polar and Climate Research Center representative at science exhibit at public COSI (Center of Science and Industry) adult outreach event. Columbus, OH.
</p>
<p>

        2017, 2019	<strong>Volunteer</strong>: Jr. High and High School State Science Olympiad Volunteer moderator and evaluator
</p>
<p>

        2018	<strong>Guest Speaker</strong>: Presented one of the STEAM Factory Halloween-themed science talks for the general public, titled <a href="https://steamfactory.osu.edu/events/october-franklinton-friday-1">"An Icy Giant on the Move".</a>
</p>
<p>

        2018	<strong>Guest Lecturer</strong>: Interacting with a 6th grade classroom through the “Skype A Scientist” program, which included sharing my research and answering their questions about being a scientist.
</p>
<p>

        2018	<strong>Volunteer:  “West Fest” </strong>Campus Sustainability & Outreach Festival. Volunteered as a representative from Byrd Polar and Climate Research Center.
</p>
<p>
2017, 2018	<strong>Guest Lecturer: </strong>Lecture on climate change, New London, OH High School
</p>
<p>

        2016, 2017	<strong>Member:</strong> School of Earth Science Graduate Student Club, Symposium Committee
</p>
<p>

        2016	<strong>Graduate Student Volunteer Reviewer:</strong> Ohio State University Undergraduate Fall Research Forum
</p>
<p>

        2015, 2016	<strong>Senator:</strong> University of Delaware Graduate Student Government
</p>
<p>

        2014﹣2016	<strong>Member:</strong> University of Delaware Graduate Student Sustainability Committee
</p>
<p>

        2015	<strong>Volunteer:</strong> Newark, DE., “Dumpster Detour” Waste Reduction Initiative
</p>
<p>

        2015	<strong>Volunteer:</strong> Led Interactive presentation on weather to 2<sup>nd</sup> grade class, Newark, DE.
</p>
<p>

        2014	<strong>Volunteer:</strong> Geography activity leader at the Annual Coast Day, Lewes DE.
</p>
<h3>Select Media Features</h3>


<hr>
<p>

        2021	Royal Meteorological Society, <a href="https://www.youtube.com/watch?v=QrLNDag2PYo">2-minute informative video</a> of Climate and the Cryosphere, aired at COP26.
</p>
<p>

        2021	Columbus Monthly, 15 Feb. 2021<a href="https://www.columbusmonthly.com/story/lifestyle/2021/02/15/ohio-state-studies-greenlands-big-retreat/115474626/"> “Ohio State Studies Greenland's Big Retreat”</a>
</p>
<p>

        2020	World War Zero, Instagram live discussion with Secretary John Kerry. <a href="https://www.youtube.com/watch?v=qJLo66nbhBE">"Saving the Greenland Ice Sheet"</a>.
</p>
<p>

        2020	Interview with BBC World Service, Science in Action: <a href="https://www.bbc.co.uk/programmes/w3cszh0r">“Trouble in Greenland”</a>. 
</p>
<p>

        2020	Quoted in the NYTimes article on first-authored and co-authored papers<a href="https://www.nytimes.com/2020/08/20/climate/greenland-ice-loss-climate-change.html"> “Loss of Greenland Ice Sheet Reached a Record Last Year”</a>. 
</p>
<p>

        2020	Quoted in Reuters article on first-authored paper, “<a href="https://www.reuters.com/article/us-climate-change-arctic/canary-in-the-coal-mine-greenland-ice-has-shrunk-beyond-return-study-finds-idUSKCN25A2X3#:~:text=12%20days%20ago-,'Canary%20in%20the%20coal%20mine'%3A%20Greenland%20ice%20has,shrunk%20beyond%20return%2C%20study%20finds&text=(Reuters)%20%2D%20Greenland's%20ice%20sheet,warming%20emissions%2C%20new%20research%20suggests.">Canary in the coal mine</a>”.
</p>
<p>

        2020	Quoted in InsideClimateNews article on first-authored paper, <a href="https://insideclimatenews.org/news/14082020/greenland-ice-sheet-melt-climate-change">“Going, Going...Gone: Greenland’s Melting Ice Sheet…”</a>
</p>
<p>

        2020	Guest podcast interviewee on The Climate Pod. Link to listen<a href="https://theclimatepod.libsyn.com/jamie-margolin-on-powering-the-youth-climate-movement-dr-michalea-king-on-greenland-ice-sheets-point-of-no-return"> here.</a>
</p>
<p>

        2019	Panelist on NASA-sponsored AGU Fall Meeting press conference on “Ice in Motion”. Link to story <a href="https://www.nasa.gov/feature/goddard/2019/ice-in-motion-satellites-capture-decades-of-change">here</a>. Link to press conference video <a href="https://www.youtube.com/watch?v=XURikpjDGag">here</a>.
</p>
<p>

        2019	Featured story on Ohio State News: “Shrinking of Greenland’s glaciers began accelerating in 2000, research finds”. Link to story <a href="https://news.osu.edu/shrinking-of-greenlands-glaciers-began-accelerating-in-2000-research-finds/">here</a> and <a href="https://phys.org/news/2019-12-greenland-glaciers-began.html">here</a>, as published by phys.org.
</p>
<p>

        2019	Quoted on GlacierHub’s “<a href="https://glacierhub.org/2019/09/17/icesat-2-hackweek-tackles-the-big-data-of-earths-glaciers/">ICESat-2 Hackweek Tackles the Big Data of Earth’s Glaciers</a>” 
</p>
<p>

        2019	Glacier Hub “Video of the Week: Glacial Thinning in Greenland” 
</p>
<p>

        	<a href="http://glacierhub.org/2019/03/27/video-glacial-thinning-greenland/">http://glacierhub.org/2019/03/27/video-glacial-thinning-greenland/</a>
</p>
<p>

        2019	Interview with Byrd Polar and Climate Research Center: <a href="https://vimeo.com/channels/bpcrc/338583567">“Greenland 2019: Measuring Changes of the Greenland Ice Sheet”</a>
</p>
<h3>Professional Service, Memberships, and Certifications</h3>


<hr>
<p>
<strong>AGU Cryosphere Executive Committee,</strong> Early Career Representative (Jan 2022—present)
</p>
<p>
<strong>AGU <em>Eos</em></strong>, Science Advisor for the Cryosphere Section (October 2021—present)
</p>
<p>
<strong>Peer-reviewer: <em>The Cryosphere</em>, <em>Geophysical Research Letters, Nature Communications, ESSD, Journal of Climate, Nature Communications Earth and Environment, Journal of Glaciology, JGR Earth Surface, JGR Oceans</em></strong>
</p>
<p>
<strong>Proposal Review Panelist<em>: NASA-TASNPP20</em></strong>
</p>
<p>
<strong>Proposal Mail-In Reviewer<em>: NSF Arctic Natural Sciences Program, NSF Arctic Observing Network, NSF EAR</em></strong>
</p>
<p>
<strong>Session Convener</strong>: American Geophysical Union Fall Meeting (2020, 2021): ‘<em>Advances in Understanding Ice Sheet and Ice Shelf Surface Mass Balance: Past, Present, and Future</em>’
</p>
<p>
<strong>Memberships</strong>:
</p>
<p>
American Geophysical Union
</p>
<p>
European Geosciences Union (complimentary member, 2018 and 2019)
</p>
<p>
International Glaciology Society
</p>
<p>
Association of Early-Career Polar Scientists
</p>
<p>
<strong>Certifications</strong>:
</p>
<p>
Wilderness First Aid (WFA), April 2019
</p>
<p>
Graduate Certification in Geographic Information Science, June 2016
</p>
<p>
Top rope belay certification
</p>
